body {
    max-width: 800px;
    margin: auto;
    /*font: normal 100% "Trebuchet MS", Helvetica, sans-serif;*/
    font: normal 100% "Verdana";
    font-size: 0.92em;
    line-height: normal;
}

h2 {
    margin-bottom: 0.8em;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #2c2c2c;
    letter-spacing: .025em;
    text-shadow: 3px 3px 0 #e5e5e5;
}

h3 {
    margin-bottom: 0.4em;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

ul {
    margin-top: 0.3em;
}

.small-image {
    width: 22px;
    vertical-align: text-bottom;
    padding-right: 0.5em;
}

/* Menu */
.menu {
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    padding: 1.2em 0;
}

.menu a:hover {
    color: gold;
    text-shadow:
      1px 1px 0 #a5a5a5,
      2px 2px 0 rgba(0, 0, 0, 0.8);
}

.menu-item-left {
    float: left;
    text-align: center;
    font-size: 1.2em;
}

.menu-item-left a {
    text-decoration: none;
}

.name {
    font-size: 1.2em;
    padding-left: 0;
    padding-right: 0.7em;

    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow:
      2px 2px 0 #d5d5d5,
      3px 3px 0 rgba(0, 0, 0, 0.2);
}

.menu-image {
    width: 22px;
    vertical-align: text-bottom;
    padding-left: 0em;
    padding-right: 0.7em;
}

.menu-item-right {
    float: right;
    font-size: 1.2em;

    text-shadow:
      1px 1px 0 #d5d5d5;

}

.menu-item-right a {
    text-decoration: none;
    color: black;
}

.menu-item-projects {
    padding-left:0.8em;
    padding-right: 2px;
}



/* Grid */
.grid {
    display: grid;
    grid-template-columns: 30.75% 30.75% 30.75%;
    grid-column-gap: 3.875%;
    grid-row-gap: 35px;
    justify-content: center;
}

.cell:hover {
    box-shadow:
        0.5px 0.5px black,
        -1px -1px black,
        4px 4px 4px 1px darkgray;
    position: relative;
    right: 3px;
    bottom: 3px;
}

.cell-text {
    padding: 0.2em 0.4em 0.6em 0.4em;
    margin: 0;
    font-size: 0.9em;
    line-height: normal;
}

.cell-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.1em;
}

.cell-category {
    font-weight: bold;
    font-size: 0.8em;
    color: darkgray;
    padding-bottom: 0;
    margin-bottom: 0.3em;
}

.cell a, .cell a:visited, .cell a:hover, .cell a:active {
    text-decoration: none;
    color: inherit;
}

.project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 2px;
  }

.divider {
    border: 0;
    border-top: 2px dotted #aaa;
}

@media only screen and (max-width: 570px) {
    body {
        max-width: 80%;
    }

    .grid {
        grid-template-columns: 250px;
        grid-column-gap: 0;
        grid-row-gap: 35px;
    }

    .menu-item-left {
        width: 100%;
        height: 50%;
        padding-bottom:0.75em;
    }

    .menu-item-right {
        width: 100%;
        height: 50%;
        float: none;
        text-align: center;
    }

    .menu-image {
        display: none;
    }

    .menu-item-about_me {
        padding-right: 2em;
        padding-left: auto;
        margin: 0;
    }

    .menu-item-projects {
        padding-left: 2em;
        padding-right: auto;
        margin: 0;
    }
}

@media only screen and (min-width: 571px) and (max-width: 849px) {
    body {
        max-width: 80%;
    }

    .grid {
        grid-template-columns: 250px 250px;
        grid-column-gap: 12%;
        grid-row-gap: 35px;
    }
}

@media screen and (min-width: 850px) {
    body {
        max-width: 800px;
    }

    .grid {
        grid-template-columns: 250px 250px 250px;
        grid-column-gap: 25px;
        grid-row-gap: 35px;
    }
}
