body {
    max-width: 800px;
    margin: auto;
    /*font: normal 100% "Trebuchet MS", Helvetica, sans-serif;*/
    font: normal 100% "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.4em;
}

h2 {
    margin-bottom: 0.6em;
}

h3 {
    margin-bottom: 0.4em;
}

ul {
    margin-top: 0.3em;
}

.small-image {
    width: 22px;
    vertical-align: text-bottom;
    padding-right: 0.5em;
}

/* Menu */
.menu {
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: black;
}

.menu-item {
    float: left;
    padding: 1em 0.5em;/*14px 16px;*/
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

.menu-item-right {
    float: right;
    padding: 1.2em 1.2em;/*14px 16px;*/
    padding-right: 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.0em;
}

.name {
    padding-left: 0;
    font-weight: bold;
}

.menu a:hover {
    color: gold;
}

.menu-image {
    width: 18px;
    vertical-align: middle;
}

/* Grid */
.grid {
    display: grid;
    /*grid-template-columns: 246px 246px 246px;
    grid-template-rows: 250px 250px;
    grid-gap: 31px;*/
    grid-template-columns: 30.75% 30.75% 30.75%;
    grid-column-gap: 3.875%;
    grid-row-gap: 35px;
}

/*
.cell {
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;

    background-color:aqua;    
    width: 250px;
}
*/

.cell:hover {
    /*
    border: solid;
    border-width: 1px;
    margin: -1px;
    border-width: 1px;    
    border-color: black;
    */
    /*border: solid;
    border-width: 1px;
    margin: -1px;*/
    box-shadow: 5px 5px 3px 1px darkgrey;
    
    /*       
    box-shadow: 5px 5px 3px 1px darkgrey;     
    border: 1px solid #3a69c8;*/
    position: relative;
    right: 3px;
    bottom: 3px;
}

.cell-image {
    /*
    border-radius: 2px;
    border-bottom-style: solid;
    border-width: 1px;
    width: 250px;
    height: 140px;
    */
    width: 100%;            
}        

.cell-text {
    padding: 0.2em 0.4em 0.6em 0.4em;
    margin: 0;
    /*width: 250px;
    height: 110px;*/
    font-size: 0.9em;
    line-height: 1.3em;
}        

.cell-header {
    font-weight: bold;
    font-size: 1.2em;
}

.cell-category {            
    font-weight: bold;
    font-size: 0.8em;
    color: darkgray;
    padding-bottom: 0em;
    margin-bottom: 0.3em;
}

.cell a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;        
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 2px;
  }